#github에 추가되지 않을 파일 목록

# 특정 확장자 파일들을 무시
*.pro.user
*.sdf
*.kate-swp
*.autosave

# 특정 디렉토리 내 파일들을 무시
Debug/
Release/
/collect
/test
/sync
/memo.txt
/BondFormat.txt
/.hidden
/jxrlib/doc

#특정 파일 무시
Makefile
Makefile.*

#특정 파일들을 무시하지 않음.
!.gitignore
