[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=arkzip
Type=Application
Comment=지정된 대상을 arkzip의 gui 모드로 압축 해제합니다. 대상 압축 파일은 압축 파일이 위치한 경로에서 압축 파일명으로 된 폴더에 압축이 풀리게 됩니다.
NoDisplay=false
Exec=arkzip -i gui -s --link -- %F
StartupNotify=false
Icon=arkzip
Terminal=false
Categories=Application;
MimeType=application/x-7z-compressed;application/x-7z-part;application/x-acb;application/x-alz;application/x-arj;application/x-bh;application/x-bzip;application/x-egg;application/x-gzip;application/x-img;application/x-cd-image;application/x-j2j;application/x-lha;application/x-lzma;application/x-rar;application/x-tar;application/x-ms-wim;application/x-xz;application/x-compress;application/zip;application/x-hv3;